<form id="Article" action="" method="post">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" name="Title" value="{{.article.Title}}" required>
    </div>
    <div class="form-group">
        <label for="editor">Content</label>
        <div id="editor">
            {{if .article.Content}}
            {{str2html .article.Content}}
            {{end}}
        </div>
    </div>
    <div class="form-group">
        {{if .article.Tags}}
        {{range $taghave := .article.Tags}}
        <label for="{{$taghave.Name}}" class="checkbox-inline">
            <input type="checkbox" id="{{$taghave.Name}}" value="{{$taghave.Name}}" name="tags" checked>{{$taghave.Name}}
        </label>
        {{end}}
        {{end}}
        {{range $tagnothave := .tagsnothave}}
        <label for="{{$tagnothave.Name}}" class="checkbox-inline">
            <input type="checkbox" id="{{$tagnothave.Name}}" value="{{$tagnothave.Name}}" name="tags">{{$tagnothave.Name}}
        </label>
        {{end}}
    </div>
    <div class="form-group">
        <label for="tags">或添加新标签 , 多个之间用竖线(|)隔开</label>
        <input type="text" class="form-control" id="tags" name="newtags">
    </div>
    <button id="submit" class="btn btn-success">提交</button>
</form>
<script type="text/javascript" src="/static/js/wangEditor.min.js"></script>
<script type="text/javascript">
    var E = wangEditor;
    var editor = new E('#editor');
    editor.customConfig.uploadImgShowBase64 = true;   // 使用 base64 保存图片
    editor.create();
    $("#submit").click(function () {
        var input = $("<input>").attr("type", "hidden").attr("name", "Content").val(editor.txt.html());
        $('#Article').append($(input)).submit();
    });
</script>