<div class="row">
    <div class="col-xs-12 col-sm-8">
        <br>
        {{if .tag}}
        <h4>贴有 " {{.tag}} " 标签的文章 :</h4><br>
        {{end}}
        {{if .search}}
        <h4>搜索 " {{.search}} " 的结果 :</h4><br>
        {{end}}
        {{if .articles}}
        <ul class="list-group">
            {{range $article := .articles}}
            <div class="media">
                <div class="media-body">
                    <h4 style="display: inline-block" class="media-heading"><a href="/articleid/{{$article.Id}}">{{$article.Title}}</a>
                    </h4>
                    <p style="display: inline-block;float: right;">{{date $article.Update_time "Y-m-d H:i"}}</p>
                    <div style="clear:both"></div>
                    {{substr $article.Content 0 120 | html2str}}
                    <a style="float: right;" href='{{urlfor "FrontController.ShowArticleById" ":id" $article.Id}}#disqus_thread'>评论</a>
                </div>
            </div>
            <br>
            {{end}}
        </ul>
        <script src="/static/js/bootstrapPager.js"></script>
        <script>
            document.write(Pager({
                totalCount: '{{.totalCount}}', //总条数为150
                pageSize: 10,    //每页显示6条内容，默认10
                buttonSize: 6,   //显示6个按钮，默认10
                pageParam: 'page',   //页码的参数名为'p'，默认为'page'
                className: 'pagination',    //分页的样式
                prevButton: '上一页',       //上一页按钮
                nextButton: '下一页',       //下一页按钮
                firstButton: '首页',      //第一页按钮
                lastButton: '末页',       //最后一页按钮
            }));
        </script>
        {{end}}
        <hr>
    </div>
    <div class="col-xs-12 col-sm-4">
        {{if .tagsandcount}}
        <p><b>标签:</b></p>
        {{range $key,$count := .tagsandcount}}
        <a href="/tag/{{$key}}" type="button" class="btn btn-success btn-sm">
            {{$key}} <span class="badge">{{$count}}</span>
        </a>
        {{end}}
        {{end}}
    </div>
</div>
<script id="dsq-count-scr" src="//nsecgo.disqus.com/count.js" async></script>