<div class="row">
    <div class="col-xs-12 col-sm-8">
        {{if .tag}}
        <h4>贴有 " {{.tag}} " 标签的文章 :</h4><br>
        {{end}}
        {{if .search}}
        <h4>搜索 " {{.search}} " 的结果 :</h4><br>
        {{end}}
        {{if .articles}}
        <ul class="list-group">
            {{range $article := .articles}}
            <div class="media">
                <div class="media-body">
                    <h3 style="display: inline-block" class="media-heading"><a href="/articleid/{{$article.Id}}">{{$article.Title}}</a></h3>
                    <p style="display: inline-block;float: right;">{{date $article.Update_time "Y-m-d H:i"}}</p>
                    <br>{{substr $article.Content 0 120 | html2str}}<a style="float: right;" href='{{urlfor "FrontController.ShowArticleById" ":id" $article.Id}}#disqus_thread'>评论</a>
                </div>
            </div>
            {{end}}
        </ul>
        <ul id="page"></ul>
        <script type="text/javascript" src="/static/js/bootstrap-paginator.min.js"></script>
        <script type="text/javascript">
            $(function () {
                $("#page").bootstrapPaginator({
                    currentPage: '{{.pageNo}}',
                    totalPages: '{{.pageTotal}}',
                    bootstrapMajorVersion: 3,
                    onPageClicked: function (e, originalEvent, type, page) {
                        window.location.href = "./?page=" + page
                    }
                });
            });
        </script>
        {{end}}
    </div>
    <div class="col-xs-12 col-sm-4">
        {{if .tagsandcount}}
        标签：
        <hr>
        {{range $key,$count := .tagsandcount}}
        <a href="/tag/{{$key}}" type="button" class="btn btn-success">
            {{$key}} <span class="badge">{{$count}}</span>
        </a>
        {{end}}
        {{end}}
    </div>
</div>
<script id="dsq-count-scr" src="//nsecgo.disqus.com/count.js" async></script>